<div class="container">
  <div class="p-4 p-md-5 mb-4">
      <% if notice.present? %>
        <%= render 'alert' %>
      <% end %>
    <div class="col-md-6 px-0">
      <h1>Facebook OAuth2 Strategy for OmniAuth</h1>
      <p>Implementing Facebook-OmniAuth with Devise & ActiveAdmin for Rails 6 app.</p>
      <% unless current_user %>
        <%= button_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, method: :post %>
        <div class="p-1"><small>*Attention, this service does not store and not use any information about your accounts.</small></div>
      <% else %>
            <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
              <div class="card-header">Your Facebook Profile</div>
              <div class="card-body">
                <%= image_tag current_user[:image] %>
                  <p class="card-text">
                    <%= 'Name: ' + current_user[:name] %>
                  </p>
                  <p class="card-text">
                    <%= 'UID: ' + current_user[:uid] %>
                  </p>
                  <p class="card-text">
                    <%= 'Email: ' + current_user[:email] %>
                  </p>
                <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
      <% end %>
              </div>
            </div>
    </div>
  </div>
</div>