<div class="container">
  <div class="p-4 p-md-5 mb-4">
      <% if notice.present? %>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" /> </symbol>
    </svg>
    <div class="alert alert-success d-flex align-items-center" id="notice" role="alert">
      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
        <use xlink:href="#check-circle-fill" />
      </svg>
      <div>
      <%= notice %>
      </div>
    </div>
      <% end %>
    <div class="col-md-6 px-0">
      <h1>Facebook OAuth2 Strategy for OmniAuth</h1>
      <p>Implementing Facebook-OmniAuth with Devise & ActiveAdmin for Rails 6 app.</p>
      <% unless current_user %>
        <%= button_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, method: :post %>
        <div class="p-1"><small>*Attention, this service does not store and not use any information about your accounts.</small></div>
      <% else %>
            <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
              <div class="card-header">Your Facebook Profile</div>
              <div class="card-body">
                <%= image_tag current_user[:image] %>
                  <p class="card-text">
                    <%= 'Name: ' + current_user[:name] %>
                  </p>
                  <p class="card-text">
                    <%= 'UID: ' + current_user[:uid] %>
                  </p>
                  <p class="card-text">
                    <%= 'Email: ' + current_user[:email] %>
                  </p>
                <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
      <% end %>
              </div>
            </div>
    </div>
  </div>
</div>